/* --- customized w3.css --- */
* {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato", sans-serif
}

.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}

.fa-lightbulb-o,.fa-users {
    font-size:200px
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 45em;
    overflow: hidden;
}
