<!-- Header -->
{{ partial "header.html" . }}

<!-- Content -->

<div class="w3-row-padding w3-padding-64 w3-container w3-content">
  <!-- Blog entries -->
  <div class="w3-col l12 s12">
    <!-- Loop through all posts -->
    {{ $paginator := .Paginate (where .Data.Pages "Type" "article") }}
    {{ range .Paginator.Pages }}
    <!-- Blog entry -->
    <div class="w3-card w3-margin w3-white">
      <div class="w3-container">
        <h3><b>{{ .Title }}</b></h3>
        <h5><span class="w3-opacity">{{ .Date.Format "02.01.2006" }}</span></h5>
      </div>

      <div class="w3-container">
        <p>{{ .Summary }}</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><a class="w3-button w3-padding-large w3-white w3-border" href="{{ .RelPermalink }}"><b>READ MORE &raquo;</b></a></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    {{ end }}
    <!-- End loop -->
    <!-- END BLOG ENTRIES -->
  </div>
</div>
<!-- Navigation -->
{{ partial "page-navigation.html" . }}

<!-- Footer -->
{{ partial "footer.html" . }}
