<div class="w3-row-padding w3-padding-64 w3-container w3-content">
  <h3 class="w3-wide">{{ .Title }}</h3>
  <h4 class="w3-opacity">{{ .Date.Format "02.01.2006" }}</h4>
  <hr>

  {{ .Content }}
</div>
