    <!-- footer area -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
      <div class="w3-xlarge w3-padding-32">
          {{ range .Site.Menus.social }}
            <a href="{{ .URL }}" aria-label="{{ .Name }}"><i class="fa fa-{{ .Name }} w3-hover-opacity" aria-hidden="true"></i></a>
          {{ end }}
      </div>
      <p>
        {{ range .Site.Menus.legal }}
          | <a href="{{ .URL }}">{{ .Name }}</a> |
        {{ end }}
      </p>
    </footer>
    <script src="{{ .Site.BaseURL }}js/script.js"></script>

  </body>
</html>
