<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Meta information -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/w3.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fonts.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/fork-awesome.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">

        <!-- Other -->
        <title> {{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} | {{ $.Site.Title }} {{ end }} </title>
    </head>
    <body>
        <!-- Navigation menu -->
        <div class="w3-top">
          <div class="w3-bar w3-indigo w3-card w3-left-align w3-large">
              <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-indigo" href="javascript:void(0);" onclick="toggle('navMobile')" title="Toggle Navigation Menu" aria-label="Menü ausklappen"><i class="fa fa-bars" aria-hidden="true"></i></a>
              <a href="{{ .Site.BaseURL }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
              {{ range .Site.Menus.nav }}
                <a href="{{ .URL }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">{{ .Name }}</a>
              {{ end }}
          </div>

          <!-- Navigation menu on mobile -->
          <div id="navMobile" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
              {{ range .Site.Menus.nav }}
                <a href="{{ .URL }}" class="w3-bar-item w3-button w3-padding-large">{{ .Name }}</a>
              {{ end }}
          </div>
        </div>

        <!-- header area -->
        <header class="w3-container w3-indigo w3-center" style="padding:128px 8px">
            <h1 class="w3-margin w3-jumbo"> {{ $.Site.Params.title }} </h1>
            <p class="w3-xlarge"> {{ $.Site.Params.subtitle }} </p>
        </header>

        <!-- javascript warning -->
        <noscript>
            <div class="w3-container">
                <div class="w3-panel w3-pale-red">
                    <h3>JavaScript neccessary</h3>
                    <p>This website needs javascript to function properly. Please enable it in your browser or add an exception in your javascript-blocker.</p>
                    <p>PS.: It is enough to enable first-party javascript. No third-party scripts are needed.</p>
                </div>
            </div>
        </noscript>
