<div class="w3-center w3-padding-32">
  <div class="w3-bar">
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ if .Paginator.HasNext }}
    <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}" class="w3-bar-item w3-button w3-hover-black">&laquo; Older posts</a>
    {{ end }}

    {{ if .Paginator.HasPrev }}
    <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}" class="w3-bar-item w3-button w3-hover-black">Newer posts &raquo;</a>
    {{ end }}
{{ end }}
</div>
</div>
